
body {
    /* background: #808090; */
    background: black;
    color: white;
    text-align: center;
    font-family: Verdana, Helvetica, sans;
}

h1 {
    color: #FFFFFF;
}

p {
    text-align: justify;
}

a {
    color: #FFCC90;
}

img {
    margin: 10px 10px;
    border: 2px solid black;
}

input {
    margin: 20px 20px;
    width: 120px;
    height: 40px;
    font-size: 13pt;
}

#main {
    margin: 0 auto;
    width: 680px;
    font-size: 14px;
}

P#main {
}

.legal {
    font-size: 11px;
}

.warm {
    color: #FFCC90;
}

.header {
    text-align: justify;
    font-style: italic;
}

.instructions {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin: 0 auto;
    width: 500px;
}

.subbox {
    width: 500px;
    margin: 20px auto;
    padding: 5px 20px;
    border: 1px solid white;
}
