<script>
	$(".hidden").hide();
	exampleTrain();
</script>

<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>
		To learn the labels of the items, you will see them laid out in a grid like this:
	</p>
	<div id="cardcanvas"></div>
	<p>You can click any square to see its label. <em>Try it!</em> </p>
	<div class="hidden">
	<p>This is just an example using <strong>X</strong> and <strong>Y</strong> as category labels. You will have to learn about categories <strong>A</strong> and <strong>B</strong> in the actual task.</p>
	<p>On each round of training, you will have 16 chances, which will be counted
	down in a diagram like the one below. Each red mark symbolizes a chance you have to see an item's label. Each time you click on a square, one of these red marks will turn grey. <div id="timercanvas"></div>
	<p>When you run out of examples, the experiment will proceed to a test phase where you will be asked to identify each of the items in turn.</p>
		

    <div class="instructions">When you feel you understand how to query for a category label and the meaning of the timer diagram, press <strong>Next</strong> to continue.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>
</div>

