<h1>Category task</h1>
<div id="instructions">Click a card to see its category. You can only do this
    16 times, as reflected in the timer marks below. Be sure to look at each
    card at least once.</div>
<div id="cardcanvas"> </div>
<div id="timercanvas"> </div>
<div id="testcanvas"> </div>

{% if debug %}
<ul>
    <li onClick="javascript:trainobject = new TrainingPhase()">Jump to training phase.</li>
    <li onClick="javascript:testobject = new TestPhase()">Jump to test phase.</li>
    <li onClick="javascript:givequestionnaire()">Jump to questionnaire.</li>
</ul
{% endif %}
