
<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>In this experiment, you will be looking at various squares that have each been assigned a label, <strong>A</strong> or <strong>B</strong>. Your task will be to learn the labels associated with eight different squares. The squares look like this:</p>
	<div style="text-align: center;">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM03.PNG">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM07.PNG">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM13.PNG">
	</p>
	<p>They vary on four features:
	<table cellspacing="20px">
		<tr>
			<td class="outerbox"><h3>Border</h3>
				<hr>
				<table><tr>
						<td>
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM12.PNG">
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM00.PNG">
							<h4>White</h4>
						</td>
						<td>
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM09.PNG">
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM07.PNG">
							<h4>Yellow</h4>
						</td>
				</tr></table>
			</td>
			<td class="outerbox">
				<h3>Field</h3>
				<hr>
				<table><tr>
						<td>
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM12.PNG">
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM09.PNG">
							<h4>Blue</h4>
						</td>
						<td>
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM00.PNG">
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM07.PNG">
							<h4>Purple</h4>
						</td>
				</tr></table>
			</td>
		</tr>
		<tr>
			<td class="outerbox">
				<h3>Dots</h3>
				<hr>
				<table><tr>
						<td>
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM15.PNG">
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM07.PNG">
							<h4>Present</h4>
						</td>
						<td>
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM12.PNG">
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM09.PNG">
							<h4>Absent</h4>
						</td>
				</tr></table>
			</td>
			<td class="outerbox">
				<h3>Diagonal Slash</h3>
				<hr />
				<table><tr>
						<td>
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM12.PNG">
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM07.PNG">
							<h4>Present</h4>
						</td>
						<td>
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM00.PNG">
							<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM09.PNG">
							<h4>Absent</h4>
						</td>
				</tr></table>
			</td>
		</tr>
	</table>
	<div class="instructions">When you feel you have understood the four features that can vary in the
		flags, continue by pressing <strong>Next</strong>.</div>

	<input type="button" class="continue" id="Next" value="Next">
</div>

