<div id="debriefing">
	<h1>Debriefing for Active Learning</h1>

	<div id="debriefingtext">
	<p>Thank you for your participation in our study!  Your anonymous data makes an
	important contribution to our understanding of human learning and memory. </p>

	<p>The goal of the study was to understand how people form categories and learn
	to make effective decisions in tasks where they must actively explore the
	environment. In the task you may have been asked (depending on condition) to
	design “queries” to figure out an unknown concept.  In other conditions you may
	have passively viewed stimuli belonging to two or more categories.</p>

	<p>The goal of our research is to better understand the way people learn
	categories and how they explore their environment in order to learn.  In
	addition we are interested in contrasting “active”, self-directed learning
	against more passive modes of learning.  This research has potential
	implications for education (understanding the best way to teach people novel
	concepts).  In addition, we are interested in understanding how people design
	“queries” or “questions” about things they want to learn about.</p>

	<p>If you are interested in this research, we recommend that you take a look at
	the following topics in an introductory psychology textbook: categorization,
	decision making, neuroeconomics, and reinforcement learning.</p>

	<p>If you have any questions about this research, you may contact the principal
	investigator, Todd M. Gureckis at 6 Washington Place (859),
	todd.gureckis@nyu.edu.<p>
	</div>

	<form> 
		<p style="color: #ccccff">Check the box to affirm the following statement:</p>
		<div id="affirmationbox">
			<input type="checkbox" id="affirmation" value="Affirm" onClick="$('#continue').toggle()"></input>
			<blockquote id="debriefstatement">I feel that I have been adequately debriefed about the nature
				of the study.  The investigator has explained the purposes of the
				research to me, and I feel that any questions I have asked were
				satisfactorily answered.</blockquote></p>
		</div>
		<input type="button" id="continue" value="Continue" onClick="submitdata()" style="display:none"></input>
	</form>
</div>
