<style type="text/css">
    #holder {
        margin: 10px auto;
    }
    #holder svg {
        margin: 0 auto;
    }
</style>

<script>
    <!--
    var paper = Raphael( "holder" );
    $("#holder").width( imgw*2.5 + 20 );
    $("#holder").height( imgh*2.5 + 20 );
    paper.image( cardnames[0], 10, 10, imgw, imgh  );
    paper.image( cardnames[4], 10 + imgw*1.5, 10, imgw, imgh  );
    paper.image( cardnames[8], 10, 10 + imgh*1.5, imgw, imgh  );
    paper.image( cardnames[12], 10 + imgw*1.5, 10 + imgh*1.5, imgw, imgh  );
    -->
</script>

<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>The label will follow a pattern which could be quite simple. For example, if you saw the following four squares, there are some sensible ways in which you could group them.</p>
	<div id="holder"></div>
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>

	<input type="button" class="continue" id="Next" value="Next">
</div>
