<!doctype html>

<html>
    <head>
        <title>Active Category Learning</title>
        <meta charset="utf-8">
	<link rel=stylesheet href="static/instruct.css" type="text/css" media="screen">
    </head>
<body>
    <div id="main">
	<h1>Instructions</h1>
        <p>Due to the online nature of this experiment, we want to best
        simulate a lab-like setting. We would like to request that you best
        remove yourself from <strong class="warm">all</strong> distraction.</p>
        <p>We ask that you turn off any external noise source (e.g. music,
        television), close all other windows open on your computer, ask other
        people to leave your immediate environment or to not distract you, and
        to simply concentrate on the experiment at hand. Evidence that you have
        not followed these instructions could lead to revocation of
        payment.</p>
        <p>Most importantly, you may <strong class="warm">not</strong> use any
        assisitive learning aids such as writing down or drawing labels to help
        you remember. You must pay enough attention so you will be able to
        remember the labels on your own.</p> 
        <div class="subbox">
            <h2 class="warm">To review:</h2>
            <p><em> You will learning whether the squares belong to 'A' or 'B' over
            the course of several sessions. After each session, you will be
            tested on your knowledge for the labels. To complete the task, you
            must get a perfect score two sessions in a row.</em</p>
        </div>
        <div class="instructions warm">When you're ready, click the "Start" button to begin!</div>
	<input type="button" id="start" value="Start" onclick="parent.location='exp.html'">
    </div>
</html>
