<div class="instruct" id="main">
    <h1>Instructions</h1>
    <p>After using all of your credits, you will be tested on each of the eight
    items you have seen. The screen will look like this:</p>
    <div id="testexample">
        <img id="stim" width="100" src="static/images/STIM10.PNG">
        <div id="query">
            <p id="prompt">Which category does the object belong to?</p>
            <div id="inputs">
                <input type="button" value="A" id="CategoryA" onClick="alert('You have chosen category A! In the real experiment, we would continue on to the next square.')" />
                <input type="button" value="B" id="CategoryB" onClick="alert('You have chosen category B! In the real experiment, we would continue on to the next square.')"  />
            </div>
        </div>
    </div>
    <p>In the test phase, try your best to respond with the category label that you
    have seen previously. To give a response, you would click the button
    corresponding to the label you think is associated with the square.
    
    <p>After labeling each of the eight stimuli, you will recieve feedback on
    how you responded and go back to the training session to refresh your
    memory. </p>
    <div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
    <input type="button" class="continue" id="Next" value="Next">
</div>
