
{% extends "instructDimTemplate.html" %}

{% block tableheader %} Size {% endblock %}

{% block example1a %}"static/images/STIM04.png"{% endblock %}
{% block example1b %}"static/images/STIM05.png"{% endblock %}
{% block subhead1 %} Small {% endblock %}

{% block example2a %}"static/images/STIM02.png"{% endblock %}
{% block example2b %}"static/images/STIM00.png"{% endblock %}
{% block subhead2 %} Large {% endblock %}

{% block lowerInstruct %}
<p>Another way they can vary is in size: the objects come in larger or smaller sizes.  </p>
{% endblock %}

