<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>Before starting the experiment, we would like to request that you try your
	best remove <strong class="warm">all</strong> possible sources
	of distraction.</p>
	<p>Please turn off any external noise source (e.g. music,
	television), close all other windows open on your computer, ask other people
	to leave your immediate environment or to not distract you, and to
	concentrate on the experiment at hand. Evidence that you have not followed
	these instructions (for example, excessively long response times) could lead to revocation
	of payment.</p>
	<p>Most importantly, <strong class="warm">please do not</strong> use any
	writing or drawings (or your computer) to help you remember.  We are cognitive psychologists
	interested in how people learn using their own minds. We rely on your honesty for
	this.   Please try to figure out which group name goes which each object on your own.  
	While the task may be difficult at first, it will get easier as you go, and it is possible to 
	master the groups after a few minutes.</p> 
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>
