
{% extends "instructDimTemplate.html" %}

{% block tableheader %} Dots {% endblock %}

{% block example1a %}"static/images/STIM03.png"{% endblock %}
{% block example1b %}"static/images/STIM05.png"{% endblock %}
{% block subhead1 %} Dots present {% endblock %}

{% block example2a %}"static/images/STIM06.png"{% endblock %}
{% block example2b %}"static/images/STIM02.png"{% endblock %}
{% block subhead2 %} Dots absent {% endblock %}

{% block lowerInstruct %}
<p>Finally, some objects will have dots on them, while some will not.
</p>
{% endblock %}

