<script>
	$(".hidden").hide();
	trainObject = new exampleTrain();
</script>

<div class="instruct" id="main">
	<h1>Instructions</h1>
	<div style="margin: 0;" id="cardcanvas"></div>
	<div id="timercanvas"></div>
	<p id="tryit">You can click any square to see its label. <em>Try it!</em> </p>
	<div class="hidden">
		<p> Good job! This is just an example using <strong>X</strong> and <strong>Y</strong> as group labels. You will have to learn about groups <strong>A</strong> and <strong>B</strong> in the actual task.</p>
	<p>Each of your eight trials is counted down on the red marks below the grid.</p>
	<div class="instructions">When you're ready to continue, click <strong>next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>
</div>

