<div class="instruct" id="main">
    <h1>Instructions</h1>
    <p>In order to finish the experiment, <strong>you must successfully complete
        two test phases at 100% accuracy</strong>. The two phases of the experiment (learning, test) will loop
    until you can get two test phases completely right in a row.  Each individual will take more or less time, so
don't worry if you don't get it right away.  Just keep at it and eventually it will become easier.</p>
    <div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
    <input type="button" class="continue" id="Next" value="Next">
</div>
