<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>
	Once you click the link below, you must <b>complete</b> the task in order
	to receive payment.  If, at anytime after pressing "start," you close the
	pop-up window, the task will end for you, and no payment will be made.</b>
	</p>
	<p>
	Now that you know what the experiment is like, please decide if you feel you
	can commit right now to <b>completely finishing</b>. Otherwise, close the
	window now and release the hit. Please do not quit mid-way, but keep trying
	until the end. Even if you get tired or frustrated it is always better to
	finish and get paid.
	</p>
	<p>
	Some people find this easy, some find it more difficult. Please stick with
	it. 
	</p> 
	<div class="subbox">
		<h2 class="warm">To review:</h2>
        <p><em> You will try to discover which objects belong to either group
            <strong>A</strong> or <strong>B</strong> over the course of several
            sessions. To complete the task, you must get a perfect score two
            sessions in a row.  Do not use paper and pen/pencil.  Please try
            your best to stick with it until the end.</em></p>
	</div>
	<div class="instructions warm">When you're ready, click the "Start" button to
		begin!</div>
	<input type="button" class="continue" id="start" value="Start">
</div>
