<div class="instruct" id="main">
    <h1>Instructions</h1>
    <p>After using all of your credits, you will move on the test phase.  During each test phase
	you will be tested on each of the eight
    objects you have seen. The screen will look like this:</p>
    <div id="testexample">
        <img id="stim" width="100" src="static/images/STIM10.PNG">
        <div id="query">
            <p id="prompt">Which group does the object belong to?</p>
            <div id="inputs">
                <input type="button" value="A" id="CategoryA" onClick="alert('You have chosen category A! In the real experiment, we would continue on to the next square.')" />
                <input type="button" value="B" id="CategoryB" onClick="alert('You have chosen category B! In the real experiment, we would continue on to the next square.')"  />
            </div>
        </div>
    </div>
    <p>Try your best to respond with the label or group name that you
    have seen previously associated with that particular object. To give a response, you simply click the button
    corresponding to the label you think is associated with the object.  Try it!
	</p>
    <p>At the end of the test phase, after labeling each of the eight stimuli, you will receive feedback on how
	well you did, and then you will go back to the learning phase to refresh your
    memory. </p>
	<p>
		At first, the test phase may be difficult and you may have to guess for some or all of the items.  
		That is ok.  We are interested in how people slowly learn.  As you are given more learning opportunities 
		the task will become easier.  Please use only your memory to solve the task and do not use pen and paper.
	</p>
    <div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
    <input type="button" class="continue" id="Next" value="Next">
</div>
