<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>Before starting the experiment, we would like to request that you try your
	best remove yourself from <strong class="warm">all</strong> possible sources
	of distraction.</p>
	<p>We ask that you turn off any external noise source (e.g. music,
	television), close all other windows open on your computer, ask other people
	to leave your immediate environment or to not distract you, and to
	concentrate on the experiment at hand. Evidence that you have not followed
	these instructions (excessively long response times) could lead to revocation
	of payment.</p>
	<p>Most importantly, <strong class="warm">please do not</strong> use any
	assistive aids such as writing or drawing to help you remember.  We are
	interested in how people learn using only their memory.  Please try to
	remember which group name goes which each object on your own.  It may be
	difficult at first but will get easier as you go.</p> 
	<div class="subbox">
		<h2 class="warm">To review:</h2>
		<p><em> You will be learning whether the square objects belong to either
			group
			<strong>A</strong> or <strong>B</strong> over the course of several
			sessions. After each session, you will be tested on your knowledge for
			the labels. To complete the task, you must get a perfect score two
			sessions in a row.</em></p>
	</div>
	<div class="instructions warm">When you're ready, click the "Start" button to
		begin!</div>
	<input type="button" class="continue" id="start" value="Start">
</div>
