<style type="text/css">
    #holder {
        margin: 10px auto;
    }
    #holder svg {
        margin: 0 auto;
    }
</style>

<script>
    <!--
    var paper = Raphael( "holder" );
    $("#holder").width( imgw*2.5 + 20 );
    $("#holder").height( imgh*2.5 + 20 );
    paper.image( cardnames[0], 10, 10, imgw, imgh  );
    paper.image( cardnames[4], 10 + imgw*1.5, 10, imgw, imgh  );
    paper.image( cardnames[8], 10, 10 + imgh*1.5, imgw, imgh  );
    paper.image( cardnames[12], 10 + imgw*1.5, 10 + imgh*1.5, imgw, imgh  );
    paper.rect( 2, 2, 2.5*imgw+18, imgh+18 ).attr({stroke: "orange", "stroke-width": 3});
    paper.rect( 2, imgw*1.5, 2.5*imgw+18, imgh+18 ).attr({stroke: "orange", "stroke-width": 3});
    -->
</script>

<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>For example, you could group them by color, as marked here in orange, with the purple items in one category and the orange items in the other:</p>
	<div id="holder"></div>
	
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>
