
<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>Another feature is the color of the border, which can be white or yellow.
	<table id="featuretable" cellspacing="20px">
		<tr>
			<td class="outerbox"><h3>Border</h3>
				<hr>
				<table>
					<tr><td><div class="cell">
							<img alt="" src="static/images/STIM12.PNG">
							<img alt="" src="static/images/STIM00.PNG">
							<h4>White</h4>
							<hr>
					</div></td></tr>
					<tr><td><div class="cell">
							<img alt="" src="static/images/STIM09.PNG">
							<img alt="" src="static/images/STIM07.PNG">
							<h4>Yellow</h4>
					</div></td></tr>
				</table>
			</td>
		</tr>
	</table>

	<div class="instructions">When you're ready to move on, continue by pressing <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>

