
<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>
		In the next screen, you will see an example training screen. You will be
		able to see all of the items you need to learn about, and you can click on
		any item to see its label.
		
		You will only get 16 chances to make queries. These will be ticked off on a
		display in the bottom of the screen.
		
	<div class="instructions">To continue, press <strong>Next</strong>.</div>

	<input type="button" class="continue" id="Next" value="Next">
</div>

