

<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>
		The experiment will be divided into two alternating phases.  In the first
		phase, you will learn about the items.   In the second phase, we will test
		your ability to assign the objects to the correct group.
	</p>
	<p>
		To get you used to the learning phase, on the next instruction screen, you will 
		see an example training screen. You will be
		able to see all of the items you need to learn about. At any given time,
		one item, indicated by a red box, will be available for you to observe. You
		can click on it to see its label or group name.
	</p>
	<p>
		You will only get 8 opportunities to click on items in each learning phase. These will be tracked using a
		countdown display which will appear at the bottom of the screen.
	</p>	
	<p>
		As you will see, the unselected objects will disappear and may move around on the screen periodically making your task slightly more difficult.	
	</p>
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>

