

<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>
		In the next screen, you will see an example training screen. You will be
		able to see all of the items you need to learn about. At any given time,
		one item, indicated by a red box, will be available for you to observe. You
		can click on it to see its label.
		
		You will have 16 opportunities to make queries. These will be ticked off on a
		display in the bottom of the screen.
		

	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>

