<div class="instruct" id="main">
    <h1>Instructions</h1>
    <p>
		During the task, you will be asked to make judgments about the labels of
		objects presented individually. The screen will look something like
		this:</p>
    <div id="testexample">
        <img id="stim" width="100" src="static/images/STIM10.PNG">
        <div id="query">
            <p id="prompt">Which group does the object belong to?</p>
            <div id="inputs">
                <input type="button" value="A" id="CategoryA" onClick="alert('You have chosen A! In the real experiment, we would tell you if you were right or wrong.')" />
                <input type="button" value="B" id="CategoryB" onClick="alert('You have chosen B! In the real experiment, we would tell you if you were right or wrong.')"  />
            </div>
        </div>
    </div>
	<p>Try your best to respond with the correct label or group name for that
	particular object. To give a response, you simply click the button
	corresponding to the label you think is associated with the object. Try it
	out above!  </p> 
	
	<p>Batches of test questions are organized into blocks of 16 test trials. At
	the end of the test block, you will learn what your average score was. Your
	objective is to get 100% correct in two blocks in a row.  </p>
	
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>
