
<div class="instruct" id="main">
	<h1>Instructions</h1>
        <p>There are four features on which the squares can vary. We will step through them each in turn.
        The first is the color of the field, or background to the image. It can be either blue or purple:
	<table id="featuretable" cellspacing="20px">
		<tr>
			<td class="outerbox">
				<h3>Field</h3>
				<hr>
				<table>
					<tr><td>
						<img alt="" src="static/images/STIM12.PNG">
						<img alt="" src="static/images/STIM09.PNG">
						<h4>Blue</h4>
						<hr>
					</div></td></tr>
					<tr><td><div class="cell">
						<img alt="" src="static/images/STIM00.PNG">
						<img alt="" src="static/images/STIM07.PNG">
						<h4>Purple</h4>
					</div></td></tr>
				</tr></table>
			</td>
		</tr>
	</table>
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>

	<input type="button" class="continue" id="Next" value="Next">
</div>

