<style type="text/css">
	#stimtable {
		position: relative;
		margin: 0 auto;
		width: 280px;
	}
	#stimtable img {
		width: 100px;
	}
	#stimtable table {
	}
	#stimtable td {
		padding: 20px;
	}
</style>

<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>The way that the labels are assigned to the squares will follow a pattern. Your job is to "discover" what the grouping rule is.  As an example, if you saw the following four squares, there are a variety of sensible ways in which you could group them.</p>
	<div id="stimtable">
		<table>
			<tr>
				<td>
					<img alt="" src="static/images/STIM00.PNG">
				</td>
				<td>
					<img alt="" src="static/images/STIM04.PNG">
				</td>
			</tr>
			<tr>
				<td>
					<img alt="" src="static/images/STIM08.PNG">
				</td>
				<td>
					<img alt="" src="static/images/STIM12.PNG">
				</td>
			</tr>
		</table>
	</div>
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>
