
{% extends "instructDimTemplate.html" %}

{% block tableheader %} Fill color {% endblock %}

{% block example1a %}"static/images/STIM03.png"{% endblock %}
{% block example1b %}"static/images/STIM05.png"{% endblock %}
{% block subhead1 %} Black {% endblock %}

{% block example2a %}"static/images/STIM06.png"{% endblock %}
{% block example2b %}"static/images/STIM02.png"{% endblock %}
{% block subhead2 %} White {% endblock %}

{% block lowerInstruct %}
<p>Finally, some objects will be filled with white, others with black.
</p>
{% endblock %}

