
{% extends "instructDimTemplate.html" %}

{% block upperInstruct %}
	<p>One final thing before you begin.</p>
{% endblock %}

{% block tableheader %} Shape {% endblock %}

{% block example1a %}"static/images/STIM00.png"{% endblock %}
{% block example1b %}"static/images/STIM05.png"{% endblock %}
{% block subhead1 %} Two Squares {% endblock %}

{% block example2a %}"static/images/STIM07.png"{% endblock %}
{% block example2b %}"static/images/STIM03.png"{% endblock %}
{% block subhead2 %} Two Triangles {% endblock %}

{% block lowerInstruct %}
<p>There are four specific ways in which the objects can
vary. We will step through them each in turn. The first is the
shape: every object will be square or triangular, as depicted above.  </p>
{% endblock %}

