
<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>To review, these are the four features by which the objects can vary:
	<table id="featuretable" cellspacing="20px">
		<tr>
			<td class="outerbox">
				<h3>Shape</h3>
				<hr>
				<table>
					<tr><td>
						<img alt="" src="static/images/STIM00.png">
						<img alt="" src="static/images/STIM01.png">
						<h4>Square</h4>
						<hr>
					</div></td></tr>
					<tr><td><div class="cell">
						<img alt="" src="static/images/STIM02.png">
						<img alt="" src="static/images/STIM03.png">
						<h4>Triangle</h4>
					</div></td></tr>
				</tr></table>
			</td>
			<td class="outerbox">
				<h3>Size</h3>
				<hr>
				<table>
					<tr><td> <div class="cell">
						<img alt="" src="static/images/STIM00.png">
						<img alt="" src="static/images/STIM03.png">
						<h4>Large</h4>
					<hr>
				</div></td></tr>
					<tr><td>
						<div class="cell">
							<img alt="" src="static/images/STIM04.png">
							<img alt="" src="static/images/STIM06.png">
							<h4>Small</h4>
						</div>
					</td></tr>
				</table>
			</td>
			<td class="outerbox">
				<h3>Stripes</h3>
				<hr />
				<table>
					<tr><td><div class="cell">
						<img alt="" src="static/images/STIM07.png">
						<img alt="" src="static/images/STIM01.png">
						<h4>Present</h4>
					<hr>
					</div></td></tr>
					<tr><td><div class="cell">
						<img alt="" src="static/images/STIM02.png">
						<img alt="" src="static/images/STIM06.png">
						<h4>Absent</h4>
					</div></td></tr>
				</table>
			</td>
		</tr>
	</table>
	<div class="instructions">When you feel you have understood the four features that can vary in the
		objects, press <strong>Next</strong>.</div>

	<input type="button" class="continue" id="Next" value="Next">
</div>

