<div class="instruct" id="main">
    <h1>Instructions</h1>
    
    <p> At first, the test phase may be difficult and you may have to guess for
    some or all of the items. That is ok. We are interested in how people
    gradually learn. As you are given more learning opportunities the task
    will become easier. If you find it difficult and you have to guess that is
    ok. Please use only your own mind to solve the task and do not use a pen
    or paper (or your computer) to take notes (this is a cognitive psychology
    experiment).  </p>
    
    <p> In order to finish the experiment, <strong>you must successfully
        complete two test phases at 100% accuracy</strong>. Different people
    will take more or less time, so don't worry if you don't get it right away.
    Just keep at it and eventually it will become easier. </p>
    
    <p>If you still have not achieved 100% accuracy after 15 rounds of
    learning, we will terminate the experiment and you will still receive your
    remuneration.  We will remind you how many blocks remain until the end
    after each block.</p>
    
    <div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
    <input type="button" class="continue" id="Next" value="Next">
</div>
