
{% extends "instructCat.html" %}

{% block style %}
<style type="text/css">
	.stim4, .stim2, .stim7 {
		border: 4px dashed red;
	}
	.stim0, .stim6, .stim3 {
		border: 4px dashed blue;
	}
</style>
{% endblock %}

{% block upperinstruct %}
However, these same items might could also be grouped in a more complicated
pattern, like the one depicted here:
{% endblock %}

{% block lowerinstruct %}
You goal in this task will be to learn the grouping pattern so that you can
correctly name the group for each and every object. You can use any strategy
you want so that you can correctly name each object (e.g., come up with rule,
memorize some or all of the items).
{% endblock %}

