
<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>In this experiment, you will view various objects that have each been assigned to one of two groups, <strong>A</strong> or <strong>B</strong>. Here are three example objects:</p>
	<div style="text-align: center;">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM03.PNG">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM07.PNG">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM13.PNG">
	<p>Your task will be to learn the difference between the <strong>A</strong> squares and the <strong>B</strong> squares. 
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>

	<input type="button" class="continue" id="Next" value="Next">
</div>

