<div class="instruct" id="main">
    <h1>Instructions</h1>
    <p>
        At first, the test phase may be difficult and you may have to guess for
        some or all of the items.  That is ok.  We are interested in how people
        gradually learn.  As you are given more learning opportunities the task
        will become easier.  If you concentrate it is possible to master the
        task.  Please use only your memory to solve the task and do not use a
        pen or paper (or your computer) to take notes.
    </p>
    <p>
    In order to finish the experiment, <strong>you must successfully complete
    two test phases at 100% accuracy</strong>. The two phases of the
    experiment (learning, test) will loop until you can get two test phases
    completely right in a row.  Each individual will take more or less time, so
    don't worry if you don't get it right away.  Just keep at it and eventually
    it will become easier.</p>
    
    <p>If you still have not achieved this after 20 rounds of learning, we will
    terminate the experiment and you will still receive your remuneration.</p>
    
    <div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
    <input type="button" class="continue" id="Next" value="Next">
</div>
