<style type="text/css">
	#stimtable {
		position: relative;
		margin: 0 auto;
		width: 280px;
	}
	#stimtable img {
		width: 100px;
	}
	#stimtable table {
	}
	#stimtable td {
		padding: 20px;
	}
	#leftrect {
		position: absolute;
		left: 152px; top: 10px;
		height: 265px; width: 120px;
		border: 3px solid orange;
	}
	#rightrect {
		position: absolute;
		left: 10px; top: 10px;
		height: 265px; width: 120px;
		border: 3px solid orange;
	}
</style>

<div class="instruct" id="main">
	<h1>Instructions</h1>
	<div id="stimtable">
		<table>
			<div id="leftrect"></div>
			<div id="rightrect"></div>
			<tr>
				<td>
					<img alt="" src="static/images/STIM00.PNG">
				</td>
				<td>
					<img alt="" src="static/images/STIM04.PNG">
				</td>
			</tr>
			<tr>
				<td>
					<img alt="" src="static/images/STIM08.PNG">
				</td>
				<td>
					<img alt="" src="static/images/STIM12.PNG">
				</td>
			</tr>
		</table>
	</div>
	<p>However, these same items might alternatively group based on the presence of absence of the diagonal stripe, as depicted here.</p>
	<p>The groups you will be learning about may be more complex than either of these two example patterns and will involve
		more objects.</p>

	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>
