
<div class="instruct" id="main">
	<h1>Instructions</h1>
    <p>Here, we will explain the basics of the task. Be sure to pay close
    attention! You will be quizzed on your understanding. If you have not
    understood the instruction, you may be asked to
    review them again. </p>
    <p>In this experiment, you will view various objects that have each been
    assigned to one of two groups, <strong>A</strong> or <strong>B</strong>.
    Here are three example objects:</p>
	<div style="text-align: center;">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM03.png">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM04.png">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM00.png">
	<p>Your task will be to learn the difference between the <strong>A</strong> objects and the <strong>B</strong> objects. 
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>

	<input type="button" class="continue" id="Next" value="Next">
</div>

