
<div class="instruct" id="main">
	<h1>Instructions</h1>
	<p>In this experiment, you will view various square objects that have each been assigned a "name" or "label", <strong>A</strong> or <strong>B</strong>. Three example squares look like this:</p>
	<div style="text-align: center;">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM03.PNG">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM07.PNG">
	<img alt="" style="margin: 0 10px; display:inline;" src="static/images/STIM13.PNG">
	<p>Your task will be to learn which square objects go in each group (<strong>A</strong> or <strong>B</strong>). 
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>

	<input type="button" class="continue" id="Next" value="Next">
</div>

