<!doctype html>

<link rel=stylesheet href="static/cardtask.css" type="text/css" media="screen">

<style type="text/css">
	#stimtable {
		position: relative;
		margin: 0 auto;
		width: 280px;
	}
	#stimtable img {
		width: 100px;
	}
	#stimtable table {
	}
	#stimtable td {
		padding: 20px;
	}
	#toprect {
		position: absolute;
		top: 155px; left: 10px;
		width: 260px;
		height: 120px;
		border: 3px solid orange;
	}
	#bottomrect {
		position: absolute;
		top: 10px; left: 10px;
		width: 260px;
		height: 120px;
		border: 3px solid orange;
	}
</style>


<div class="instruct" id="main">
	<h1>Instructions</h1>
	<div id="stimtable">
		<table>
			<div id="toprect"></div>
			<div id="bottomrect"></div>
			<tr>
				<td>
					<img alt="" src="static/images/STIM00.PNG">
				</td>
				<td>
					<img alt="" src="static/images/STIM04.PNG">
				</td>
			</tr>
			<tr>
				<td>
					<img alt="" src="static/images/STIM08.PNG">
				</td>
				<td>
					<img alt="" src="static/images/STIM12.PNG">
				</td>
			</tr>
		</table>
	</div>
	<p>For example, they might group by color with the mostly purple objects in one group (say, <strong>A</strong>) and the mostly blue objects in the other group (<strong>B</strong>):</p>
	
	<div class="instructions">When you're ready to continue, press <strong>Next</strong>.</div>
	<input type="button" class="continue" id="Next" value="Next">
</div>
