<!doctype html>


<html>
<head>
	<title>Thanks Page for Group Learning Experiment</title>
	<link rel=stylesheet href="static/cardtask.css" type="text/css" media="screen">
	<script src="static/jquery.js" type="text/javascript"> </script>
	<script>
		$.ajax({
			url: 'http://workersandbox.mturk.com/mturk/externalSubmit', // Sandbox
			// url: 'http://www.mturk.com/mturk/externalSubmit', // Deploy
			assignmentId: '{{assignmentId}}'
			success: function(amazonresp) {
				if (amazonresp.search('<bean:message key="external_submit.title" />') !== -1) {
					alert( "Successully submitted! This window will now close." );
					self.close();
				}
				else {
					alert( "There may have been a problem with your submission, hopefully displayed below. Try refreshing the Amazon HIT page to submit your HIT again.jjk." )
				}
			}
		});
	</script>
</head>
<body>
	<div style="text-align: center;" id="thanks">
		<h1>Thanks for your participation</h1>

		<div id="debriefingtext">
		<p style="text-align: center; font-size: 140%" >Thanks again for your participation in our study!</p>

		<p style="text-align: center; font-size: 140%" >To complete the HIT, simply press the button below.</p>

		<!-- USE THIS FOR FINAL DEPLOYMENT
		    <form style="width: auto;" id="mturk_form" action="http://wwww.mturk.com/mturk/externalSubmit" method="post">
		-->
        
		<!--<form style="width: auto;" id="mturk_form" action="http://workersandbox.mturk.com/mturk/externalSubmit" method="post">
			<input type="hidden" id="assignmentId" name="assignmentId" value="{{ assignmentId }}"  />  -->
		<input style="margin: 0 auto; font-size: 140%; width: 100%;" id="submitButton" type="submit" name="Submit" value="Complete HIT"  /> 
		<!-- </form -->
		<div id="results"></div>
	</div>
</body>

</html>
